body{
  position: fixed;
  width: 100%;
  height: 100%;
}

#root{
  height: 100%;
}
.App {
  text-align: center;
  background-color: #E7E6E6;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wall-default{
  border: thin;
  border: 12px solid black;
}


.wall-hp{
  border: 36px solid;
  border-image: url('./assets/Marauders-walls.png') 27 / 27px / 4px round;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Top{
  height: 50%;
  position: relative;
}
.Bottom{
  height: 50%;
  position: relative;
}

.TopRight{
  height: 100%;
  position: relative;
}

.map{
  height: calc(100% - 56px);
  width: calc(100% - 24px);
  margin-left: 12px;
}

.space-4{
  height: 50%;
  position: relative;
}

.space-5{
  position: relative;
  height: 50%;
}
.breakroom{
  position: relative;
  height: 50%;
}
.lobby{
  position: relative;
  height: 50%;
}

.topleft{
  padding: 0px;
  height: 100%;
}

.room-name{
  text-align: left;
  font-size: 20px;
  line-height: 1;
  margin-top: 2px;
  margin-left: 2px;
}

.room-image{
  opacity: .07;
  height: 90%;
  margin-top: 2%;
  width: 40%;
  position: absolute;
  margin-left: 30%;
}

.room-image-1{
  opacity: .07;
  height: 90%;
  margin-top: 9%;
  width: 80%;
  position: absolute;
  margin-left: 10%;
}

.room-image-lobby{
  opacity: .07;
  height: 90%;
  margin-top: 3%;
  width: 80%;
  position: absolute;
  margin-left: 10%;
}

.firebase-emulator-warning { display: none; }

.userPadding{
  padding: 5px;
}

