body{
  position: fixed;
  width: 100%;
  height: 100%;
}

#root{
  height: 100%;
}
.App {
  text-align: center;
  background-color: #E7E6E6;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wall-default{
  border: thin;
  border: 12px solid black;
}


.wall-hp{
  border: 36px solid;
  border-image: url('./assets/Marauders-walls.png') 27 / 27px / 4px round;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Top{
  height: 50%;
  position: relative;
}
.Bottom{
  height: 50%;
  position: relative;
}

.TopRight{
  height: 100%;
  position: relative;
}

.map{
  height: calc(100% - 56px);
  width: calc(100% - 24px);
  margin-left: 12px;
}

.space-4{
  height: 50%;
  position: relative;
}

.space-5{
  position: relative;
  height: 50%;
}
.breakroom{
  position: relative;
  height: 50%;
}
.lobby{
  position: relative;
  height: 50%;
}

.topleft{
  padding: 0px;
  height: 100%;
}

.room-name{
  text-align: left;
  font-size: 20px;
  line-height: 1;
  margin-top: 2px;
  margin-left: 2px;
}

.room-name-hp{
  font-family: cursive;
  font-weight: 600;
}

.room-image{
  opacity: .07;
  height: 90%;
  margin-top: 2%;
  width: 40%;
  position: absolute;
  margin-left: 30%;
}

.room-image-1{
  opacity: .07;
  height: 90%;
  margin-top: 9%;
  width: 80%;
  position: absolute;
  margin-left: 10%;
}

.room-image-lobby{
  opacity: .07;
  height: 90%;
  margin-top: 3%;
  width: 80%;
  position: absolute;
  margin-left: 10%;
}

.firebase-emulator-warning { display: none; }

.userPadding{
  padding: 5px;
}

.fullscreen-icon{
  color: white;
  cursor: pointer;
  font-size: 30px;
  margin-top: 10px;
  position: fixed;
  right: 22px;
  top: 5px;
}

.map-icon {
  color: black;
  cursor: pointer;
  font-size: 30px;
  float: right;
  opacity: 0.4;
}

#map{
  background-color: #E7E6E6;
}

.hp {
  background: url(./assets/hp-bg.png) no-repeat center center fixed;
  width: 100%;
  height: 100%;
  background-color: #DCBA8D !important;
  background-size: cover;
  position: fixed;
  left: 0;
}


.theme-picker-hp{
  background-color: rgba(255,255,255, 0.4)
}

.style1{
  size: 50px;
  height: 50px;
  width:50px;
  margin-top: -40px;
  position: absolute;
  z-index: 2;
  margin-left: 5px;
}

.style2{
  size: 50px;
  height: 50px;
  width:50px;
  margin-top: -40px;
  position: absolute;
  z-index: 2;
  margin-left: 5px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

input:checked + .slider.round {
  background-color: #2196F3;
}

input:focus + .slider.round {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider.round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox {
  display: none;
}